NEXT_PUBLIC_MAIN_SITE_URL=https://codersclutch.com
NEXT_PUBLIC_CAREERS_URL=https://careers.codersclutch.com
NEXT_PUBLIC_PORTFOLIO_URL=https://portfolio.codersclutch.com
NEXT_PUBLIC_INSIGHTS_URL=https://insights.codersclutch.com
